.layout-background {
    background-image: url('../img/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    flex: 1;
    padding-top: 80px;
  }
  