/* Fondo general */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff; /* Vino */
}

/* Caja del formulario */
.login-box {
  background: #9f2241; /* Gris oscuro */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  width: 400px;
  text-align: center;
}

/* Título */
.login-title {
  color: #BC955C; /* Dorado */
  margin-bottom: 20px;
  font-size: 28px;
}

.login-group {
  position: relative;
  margin-bottom: 15px;
}

.login-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el icono */
  color: #6d5b5e;
  font-size: 18px;
}

.login-input {
  width: 100%;
  padding: 12px 12px 12px 40px; /* Espacio suficiente para el icono */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
/* Botón */
.login-button {
  width: 100%;
  padding: 12px;
  background: #BC955C; /* Dorado */
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: #fff; /* Vino */
  color: #BC955C;
  border: 2px solid #BC955C;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal-card input {
  width: 100%;
  margin-top: 15px;
}
